<html>

<head>
    <meta content="text/html; charset='UTF-8'; http-equiv='Content-Type'" />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="@sasori39883522" />
    <meta name="twitter:text:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{page.description}}" />
    <meta name="twitter:player" content="{{page.plink}}" />
    <meta name="twitter:player:width" content="960" />
    <meta name="twitter:player:height" content="640" />
    <meta name="twitter:image" content="{{page.thumbnail}}" />

    <script>
        if(parent == self) window.location.href = 'https://amara.org/videos/{{page.id}}/{{page.lang}}/'
    </script>

    <script type="text/javascript" src="https://amara.org/embedder-iframe"></script>

    <style>
        body {
            color: white;
            background-color: black;
            margin: 0;
        }
    </style>
    <title>{{page.title}}</title>
</head>

<body>
    <div class="container">
      
        <div
          class="amara-embed"
          data-video-id="{{page.id}}"
          data-initial-language="{{page.lang}}"
          data-show-subtitles-default="true"
        >
        </div>
    
    </div>
    <!-- <a href="https://amara.org/videos/{{page.id}}/{{page.lang}}/">Open video</a> -->
</body>

</html>