<html>

<head>
    <meta content="text/html; charset='UTF-8'; http-equiv='Content-Type'" />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="@hinatacampaign" />
    <meta name="twitter:text:title" content="{{page.title}} (Eng Subs)" />
    <meta name="twitter:description" content="{{page.description}}" />
    <meta name="twitter:player" content="{{page.plink}}" />
    <meta name="twitter:player:width" content="960" />
    <meta name="twitter:player:height" content="600" />
    <meta name="twitter:image" content="{{page.thumbnail}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script type="text/javascript" src="https://amara.org/embedder-iframe"></script>

    <link rel="stylesheet" href="{{ "/styles/style.css?v=" | append: site.github.build_revision | relative_url }}" />
    <title>{{page.title}} (Eng Subs)</title>
</head>

<body class="page-subtitles">
    <div class="wrapper">
        <div class="container">
            <h1 class="hide-first hide-on-child">{{ page.title }} (Eng Subs)</h1>
            <div class="amara-embed" data-video-id="{{page.id}}" data-initial-language="{{page.lang}}"
                data-show-subtitles-default="true">
            </div>
            <div class="hide-first hide-on-child">
                <p>{{ page.description | newline_to_br }}</p>
                {% if page.related_links %}
                <div class="related">
                    <h2>Related</h2>
                    <ul>
                        {% for link in page.related_links %}
                        <li><a href="{{ link.path }}">{{ link.label }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <footer class="footer hide-first hide-on-child">
        <div class="footer-content"><a target="_blank" href="https://x.com/hinatacampaign">@hinatacampaign</a></div>
    </footer>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/scripts/script.js?v=" | append: site.github.build_revision | relative_url }}"></script>
</body>

</html>